.select {
  border-color: var(--custom-select-border-color, firebrick);
  background: var(--custom-select-background-color, none);
  font-family: 'Fondamento', cursive;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.3rem;
  margin: var(--custom-select-margin, 0);
}

.option {
  background: var(--custom-select--option-background-color, none);
  font-family: 'Fondamento', cursive;
}