@import '../../../../../variables';

%field-value {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  margin: 10px;
  border-radius: 10px;
}

.fieldValueItem {
  @extend %field-value;
  background: #cba570;
  border: solid 10px #cba570;
}

.fieldValueItemSelected {
  @extend %field-value;
  color: $main-body-color;
  background: $main-grey-color;
  border: solid 10px $minor-grey-color;
}

.voted {
  border-color: red;
}

.positionIconWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 10px;
}

.fieldValueItemContent {
  padding: 10px;
}